<div class="login">
    <div class="login-wrapper">
        <h1>Add Tip Entry</h1>
        <div class="login-form">
            <form>
                <div class="form-group label-floating">
                    <label class="control-label">Hours Worked</label>
                    <input type="text" class="form-control" ng-model="hours">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Tip Amount</label>
                    <input type="text" class="form-control" ng-model="tipAmount">
                </div>
                <div class="form-group">
                    <a class="btn btn-success btn-block btn-lg" ng-click="add()" ng-href="#/data">Submit</a>
                </div>
            </form>
        </div>
        <div class="login-nav">
            <a class="btn btn-danger" href="#/dashboard">Back</a>
        </div>
    </div>
</div>