<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth" style="top: 0;">
            <source src="img/Coffee-Shot.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="img/Coffee-Shot.jpg" alt="">
        </div>
    </div>

    <div class="top" id="top">
        <div class="top-wrapper">
            <h1>Tipsee</h1>

            <p>Keep track of your hard-earned tips</p>
        </div>
    </div>
</div>