<div class="login">
    <div class="login-wrapper">
        <h1>Log In</h1>
        <div class="login-form">
            <form>
                <div class="form-group label-floating">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="username">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <a class="btn btn-success btn-block btn-lg" ng-click="submit()">Log In</a>
                </div>
                <a href="#/">Forgot Password</a>
            </form>
        </div>
        <div class="login-nav">
            <a class="btn btn-danger" href="#/">Back</a>
        </div>
    </div>
</div>