/* line 1, ../compass/sass/styles.scss */
body {
  background-color: #fcfcfc;
}

/* line 6, ../compass/sass/styles.scss */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

/* line 11, ../compass/sass/styles.scss */
.no-video .video-container video,
.touch .video-container video {
  display: none;
}

/* line 15, ../compass/sass/styles.scss */
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

/* line 19, ../compass/sass/styles.scss */
.video-container {
  position: absolute;
  top: -10px;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../../img/Coffee-Shot.jpg);
}

/* line 28, ../compass/sass/styles.scss */
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

/* line 33, ../compass/sass/styles.scss */
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

/* line 39, ../compass/sass/styles.scss */
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

/* line 44, ../compass/sass/styles.scss */
.video-container video.fillWidth {
  width: 100%;
  position: absolute;
  top: 0;
}

/* line 50, ../compass/sass/styles.scss */
.top {
  text-align: center;
  margin-left: 0;
  height: 100vh;
  position: relative;
}

/* line 57, ../compass/sass/styles.scss */
.top-wrapper {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
}

/* line 64, ../compass/sass/styles.scss */
.top h1 {
  color: white;
  font-size: 120px;
  font-family: 'Candal', sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 2px black;
  padding: 50px;
}

/* line 73, ../compass/sass/styles.scss */
.top p {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
}

/* line 82, ../compass/sass/styles.scss */
.navbar-brand {
  font-size: 36px;
  font-family: 'Titillium Web', sans-serif;
}

/* line 87, ../compass/sass/styles.scss */
.content {
  margin-top: 100px;
}
