<!DOCTYPE html>
<html lang="en" ng-app="tipsee">
<head>
    <meta charset="UTF-8">
    <title>Tipsee App</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Candal|Titillium+Web" rel="stylesheet">

    <link href="css/material-kit.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">


</head>
<body ng-controller="mainCtrl">

<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-info" ng-class="{'navbar-transparent': isActive('/')}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                Tipsee
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-index" ng-controller="loginCtrl">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: isActive('/')}">
                    <a href="#/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li ng-class="{active: isActive('/data')}">
                    <a href="#/data" ng-if="isLoggedIn()">
                        <i class="fa fa-dashboard"></i> Data
                    </a>
                </li>
                <li ng-class="{active: isActive('/schedule')}">
                    <a href="#/schedule" ng-if="isLoggedIn()">
                        <i class="fa fa-calendar"></i> Schedule
                    </a>
                </li>
                <li ng-class="{active: isActive('/login')}">
                    <a href="#/" ng-click="logOut()" ng-if="isLoggedIn()">
                        <i class="fa fa-remove"></i> Log Out
                    </a>

                    <a href="#/login" ng-if="!isLoggedIn()">
                        <i class="fa fa-users"></i> Log In
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-view></div>

<!--Dependencies-->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="js/material-kit.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>

<!--Main App-->
<script src="js/app.js"></script>

<!--Controllers-->
<script src="js/controllers/main-controller.js"></script>
<script src="js/controllers/data-controller.js"></script>
<script src="js/controllers/data-view-controller.js"></script>
<script src="js/controllers/home-controller.js"></script>
<script src="js/controllers/schedule-controller.js"></script>
<script src="js/controllers/login-controller.js"></script>

<!--Data-->
<script src="js/data/data.js"></script>

<script>
    //jQuery is required to run this code
    $( document ).ready(function() {

        scaleVideoContainer();

        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');

        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });

    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height',unitHeight);

    }

    function initBannerVideoSize(element){

        $(element).each(function(){
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }

    function scaleBannerVideoSize(element){

        var windowWidth = $(window).width(),
                windowHeight = $(window).height() + 5,
                videoWidth,
                videoHeight;

        $(element).each(function(){
            var videoAspectRatio = $(this).data('height')/$(this).data('width');

            $(this).width(windowWidth);

            if(windowWidth < 1000){
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

        });
    }
</script>
</body>
</html>