<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
    <md-card style="width: 500px;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Login to Tipsee</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="loginForm">
                <div layout-gt-lg="row">
                    <md-input-container class="md-block" flex-gt-lg>
                        <label>Username</label>
                        <input ng-model="username">
                    </md-input-container>
                </div>
                <div layout-gt-lg="row">
                    <md-input-container class="md-block" flex-gt-lg>
                        <label>Password</label>
                        <input ng-model="password" type="password">
                    </md-input-container>
                </div>
            </form>
            <a href="#/">Forgot Password</a>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="submit()" href="#/">Log In</md-button>
            <md-button class="md-raised">Register</md-button>
        </md-card-actions>
    </md-card>
</md-content>